/* Estilização para a seção de informações principais */
.informations-principals {
    text-align: center;
    margin-bottom: 20px;
}

#titulo {
    font-size: 24px;
}

#subtitulo {
    font-size: 18px;
}

/* Estilização para a seção de habilidades */
.My {
    list-style: none;
    padding-left: 0;
}

.My li {
    margin-bottom: 5px;
}

/* Estilização para a seção de tecnologias */
.technologies {
    list-style: none;
    padding-left: 0;
}

.technologies li {
    margin-bottom: 5px;
}

/* Estilização para a seção de bibliotecas que desejo aprender */
.Software {
    list-style: none;
    padding-left: 0;
}

.Software li {
    margin-bottom: 5px;
}

/* Estilização para os links */
.Links {
    margin-top: 20px;
}

.Links a {
    display: block;
    margin-bottom: 5px;
}

/* Estilização para a seção de preferências de trabalho */
.My-Preferences-The-Job {
    margin-top: 20px;
}

/* Estilização para a seção de envio de mensagem */
.SendMessageForMe textarea {
    width: 100%;
    margin-top: 10px;
}

.SendMessageForMe button {
    display: block;
    margin-top: 10px;
}